In [1]:
import pandas as pd

In [2]:
filename = "../data/bankloan.xls"

In [3]:
data = pd.read_excel(filename)

In [4]:
data

     年龄  教育  工龄  地址   收入   负债率      信用卡负债      其他负债  违约
0    41   3  17  12  176   9.3  11.359392  5.008608   1
1    27   1  10   6   31  17.3   1.362202  4.000798   0
2    40   1  15  14   55   5.5   0.856075  2.168925   0
3    41   1  15  14  120   2.9   2.658720  0.821280   0
4    24   2   2   0   28  17.3   1.787436  3.056564   1
..   ..  ..  ..  ..  ...   ...        ...       ...  ..
695  36   2   6  15   27   4.6   0.262062  0.979938   1
696  29   2   6   4   21  11.5   0.369495  2.045505   0
697  33   1  15   3   32   7.6   0.491264  1.940736   0
698  45   1  19  22   77   8.4   2.302608  4.165392   0
699  37   1  12  14   44  14.7   2.994684  3.473316   0

[700 rows x 9 columns]

In [19]:
x = data.iloc[:, :8].as_matrix()# ==> DataFrame--> ndarray

d:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [20]:
type(x)

numpy.ndarray

In [21]:
y = data.iloc[:, 8].as_matrix() # ===> DataFrame

d:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [22]:
y.ndim

1

In [30]:
from sklearn.linear_model import LogisticRegression as LR

In [31]:
#from sklearn. import RandomizedLogisticRegression as RLR

In [32]:
lr = LR()

In [33]:
lr.fit(x, y)

d:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
lr.score(x,y)

0.8085714285714286