In [67]:
# 导入pandas
import pandas as pd
# 导入 拉格朗日插值函数 from scipy.interpolate import lagrange
# interpolate  /ɪnˈtɜːrpəleɪt/ 
#vt. 篡改；插入新语句
#vi. 插入；篡改
from scipy.interpolate import lagrange
#定义输入输出路径
inputfile = "../data/catering_sale.xls"
outputfile = "../tmp/sale.xls"

In [68]:
# 读取数据到 data 中
data = pd.read_excel(inputfile)

In [69]:
data

            日期      销量
0   2015-03-01    51.0
1   2015-02-28  2618.2
2   2015-02-27  2608.4
3   2015-02-26  2651.9
4   2015-02-25  3442.1
..         ...     ...
196 2014-08-06  2915.8
197 2014-08-05  2618.1
198 2014-08-04  2993.0
199 2014-08-03  3436.4
200 2014-08-02  2261.7

[201 rows x 2 columns]

In [70]:
# 过滤异常值， 将销量 <400 或者 销量 >5000 的 置为 None
data['销量'][(data['销量'] < 400) | (data['销量'] > 5000)] = None

d:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [71]:
data

            日期      销量
0   2015-03-01     NaN
1   2015-02-28  2618.2
2   2015-02-27  2608.4
3   2015-02-26  2651.9
4   2015-02-25  3442.1
..         ...     ...
196 2014-08-06  2915.8
197 2014-08-05  2618.1
198 2014-08-04  2993.0
199 2014-08-03  3436.4
200 2014-08-02  2261.7

[201 rows x 2 columns]

In [72]:
# 自定义列插值函数
def ployinterp_column(s, n, k=5):
    """
    """
    y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))]
    y = y[y.notnull()]
    return lagrange(y.index, list(y))(n)

In [75]:
# 逐个元素判断是否需要插值
for i in data.columns:
    for j in range(len(data)):
        if (data[i].isnull())[j]:
            data[i][j] = ployinterp_column(data[i], j)

In [76]:
# 输出插值后的结果，写入到文件
data.to_excel(outputfile)

In [77]:
data.columns

Index(['日期', '销量'], dtype='object')

In [78]:
for i in data.columns:
    print(i, type(i))

日期 <class 'str'>
销量 <class 'str'>

In [79]:
len(data)

201

In [81]:
type(data)

pandas.core.frame.DataFrame

In [82]:
data

            日期      销量
0   2015-03-01  -291.4
1   2015-02-28  2618.2
2   2015-02-27  2608.4
3   2015-02-26  2651.9
4   2015-02-25  3442.1
..         ...     ...
196 2014-08-06  2915.8
197 2014-08-05  2618.1
198 2014-08-04  2993.0
199 2014-08-03  3436.4
200 2014-08-02  2261.7

[201 rows x 2 columns]