In [101]:
# 导入模块 pandas/numpy/kmeans/matplotlib 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [102]:
# 读入数据: datafile = "discretization_data.xls" 的 肝气郁结指数
datafile = "../data/discretization_data.xls" 
data = pd.read_excel(datafile)

In [103]:
data

     肝气郁结证型系数
0       0.056
1       0.488
2       0.107
3       0.322
4       0.242
..        ...
925     0.284
926     0.103
927     0.287
928     0.296
929     0.169

[930 rows x 1 columns]

In [104]:
data = data[u'肝气郁结证型系数'].copy()

In [105]:
type(data)

pandas.core.series.Series

In [106]:
k = 4

In [107]:
d1 = pd.cut(data, k, labels=range(k), retbins=True)

In [108]:
pd.cut?

In [109]:
type(d1)

tuple

In [110]:
d1

(0      0
 1      3
 2      0
 3      2
 4      1
       ..
 925    2
 926    0
 927    2
 928    2
 929    1
 Name: 肝气郁结证型系数, Length: 930, dtype: category
 Categories (4, int64): [0 < 1 < 2 < 3],
 array([0.025522, 0.1455  , 0.265   , 0.3845  , 0.504   ]))

In [111]:
pd.cut?

In [114]:
(data.max() - data.min()) / 4

0.1195

In [115]:
data.max(),data.min()

(0.504, 0.026)

In [116]:
w = data.max() - data.min()

In [117]:
data.min() - w * 0.001

0.025522

In [118]:
p1 = [0.1455  , 0.265   , 0.3845  , 0.504   ]
p2 = [0.025522, 0.1455  , 0.265   , 0.3845  ]
diff = [p1[i] - p2[i] for i in range(4)]
diff

[0.11997799999999999, 0.11950000000000002, 0.1195, 0.1195]

In [119]:
w = [1.0 * i / k for i in range(k+1)]

In [120]:
w

[0.0, 0.25, 0.5, 0.75, 1.0]

In [121]:
des = data.describe(percentiles=w)

In [122]:
type(des)

pandas.core.series.Series

In [123]:
 des

count    930.000000
mean       0.232154
std        0.078292
min        0.026000
0%         0.026000
25%        0.176250
50%        0.231000
75%        0.281750
100%       0.504000
max        0.504000
Name: 肝气郁结证型系数, dtype: float64

In [124]:
w = des[4:4+k+1]

In [125]:
w

0%      0.02600
25%     0.17625
50%     0.23100
75%     0.28175
100%    0.50400
Name: 肝气郁结证型系数, dtype: float64

In [126]:
w[0] = w[0] * (1-1e-10)

In [127]:
w

0%      0.02600
25%     0.17625
50%     0.23100
75%     0.28175
100%    0.50400
Name: 肝气郁结证型系数, dtype: float64

In [128]:
d2 = pd.cut(data, w, labels=range(k))

In [129]:
d2

0      0
1      3
2      0
3      3
4      2
      ..
925    3
926    0
927    3
928    3
929    0
Name: 肝气郁结证型系数, Length: 930, dtype: category
Categories (4, int64): [0 < 1 < 2 < 3]

In [130]:
from sklearn.cluster import KMeans

In [131]:
kmodel = KMeans(n_clusters=k, n_jobs=4)

In [132]:
kmodel.fit(data.values.reshape(len(data), 1))

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=4, n_init=10, n_jobs=4, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [134]:
c = pd.DataFrame(kmodel.cluster_centers_)

In [135]:
c

          0
0  0.295007
1  0.220441
2  0.136954
3  0.408679

In [143]:
c.sort_values(by=0)

          0
2  0.136954
1  0.220441
0  0.295007
3  0.408679