In [17]:
import pandas as pd
import numpy as np

In [18]:
from scipy.interpolate import lagrange

In [19]:
infile = "../data/missing_data.xls"

In [20]:
outfile = "../tmp/missing_data_processed.xls"

In [21]:
data = pd.read_excel(infile, header=None)

In [22]:
data

           0         1         2
0   235.8333  324.0343  478.3231
1   236.2708  325.6379  515.4564
2   238.0521  328.0897  517.0909
3   235.9063       NaN  514.8900
4   236.7604  268.8324       NaN
5        NaN  404.0480  486.0912
6   237.4167  391.2652  516.2330
7   238.6563  380.8241       NaN
8   237.6042  388.0230  435.3508
9   238.0313  206.4349  487.6750
10  235.0729       NaN       NaN
11  235.5313  400.0787  660.2347
12       NaN  411.2069  621.2346
13  234.4688  395.2343  611.3408
14  235.5000  344.8221  643.0863
15  235.6354  385.6432  642.3482
16  234.5521  401.6234       NaN
17  236.0000  409.6489  602.9347
18  235.2396  416.8795  589.3457
19  235.4896       NaN  556.3452
20  236.9688       NaN  538.3470

In [23]:
def polyinterpolate_column(s, n, k=5):
    """拉格朗日插值函数
    
    s: Series
    n: 为 nan 的行号。
    k: nan 前后取几个值
    """
    
    interpolate_range = list(range(n-k, n)) + list(range(n+1, n+1+k)) # 插值位置 n 前后各取 k 行数据
    y = s.reindex()[interpolate_range]
    y = y.reindex()[y.notnull()] # 2k 条记录中去除空值
    lagrange_func = lagrange(y.index, list(y))
    return lagrange_func(n)

In [15]:
for i in data.columns:
    for j in range(len(data)):
        if data[i].isnull()[j]:
            data[i][j] = polyinterpolate_column(data[i], j)

In [16]:
data

             0           1           2
0   235.833300  324.034300  478.323100
1   236.270800  325.637900  515.456400
2   238.052100  328.089700  517.090900
3   235.906300  203.462116  514.890000
4   236.760400  268.832400  493.352591
5   237.151181  404.048000  486.091200
6   237.416700  391.265200  516.233000
7   238.656300  380.824100  493.342382
8   237.604200  388.023000  435.350800
9   238.031300  206.434900  487.675000
10  235.072900  237.348072  609.193564
11  235.531300  400.078700  660.234700
12  235.314951  411.206900  621.234600
13  234.468800  395.234300  611.340800
14  235.500000  344.822100  643.086300
15  235.635400  385.643200  642.348200
16  234.552100  401.623400  618.197198
17  236.000000  409.648900  602.934700
18  235.239600  416.879500  589.345700
19  235.489600  420.748600  556.345200
20  236.968800  408.963200  538.347000

In [57]:
data.to_excel(outfile, header=None, index=False)

# 后面部分是中间实验结果代码。

In [50]:
data.columns

Int64Index([0, 1, 2], dtype='int64')

In [51]:
len(data)

21

In [28]:
(data.iloc[3].isnull())[1]

True

In [30]:
ndata = np.array(data)

In [45]:
ndata[3, 1]

nan

In [48]:
np.nan, type(np.nan)

(nan, float)

In [71]:
data.iloc[0]

0    235.8333
1    324.0343
2    478.3231
Name: 0, dtype: float64

In [67]:
data.values[:, 0]

array([235.8333, 236.2708, 238.0521, 235.9063, 236.7604,      nan,
       237.4167, 238.6563, 237.6042, 238.0313, 235.0729, 235.5313,
            nan, 234.4688, 235.5   , 235.6354, 234.5521, 236.    ,
       235.2396, 235.4896, 236.9688])

In [68]:
data.values[0][0]

235.8333

In [74]:
data[0][0], type(data)

(235.8333, pandas.core.frame.DataFrame)

In [9]:
s = data[0]

In [10]:
s

0     235.8333
1     236.2708
2     238.0521
3     235.9063
4     236.7604
5          NaN
6     237.4167
7     238.6563
8     237.6042
9     238.0313
10    235.0729
11    235.5313
12         NaN
13    234.4688
14    235.5000
15    235.6354
16    234.5521
17    236.0000
18    235.2396
19    235.4896
20    236.9688
Name: 0, dtype: float64

In [11]:
y = s[list(range(0,5)) + list(range(6, 11))]

In [12]:
y

0     235.8333
1     236.2708
2     238.0521
3     235.9063
4     236.7604
6     237.4167
7     238.6563
8     237.6042
9     238.0313
10    235.0729
Name: 0, dtype: float64

In [100]:
y = y[y.notnull()]

In [15]:
lagrange_func = lagrange(y.index, list(y))

In [16]:
lagrange_func(5)

237.15118134801764

In [13]:
y.index

Int64Index([0, 1, 2, 3, 4, 6, 7, 8, 9, 10], dtype='int64')

In [14]:
list(y)

[235.8333,
 236.2708,
 238.0521,
 235.9063,
 236.7604,
 237.4167,
 238.6563,
 237.6042,
 238.0313,
 235.0729]

In [18]:
for i in y.index:
    print(i, '---->', lagrange_func(i))

0 ----> 235.8333
1 ----> 236.2707999999996
2 ----> 238.0520999999796
3 ----> 235.90629999987254
4 ----> 236.7603999995524
6 ----> 237.4166999972976
7 ----> 238.65629999433978
8 ----> 237.6041999887545
9 ----> 238.03129997820744
10 ----> 235.07289995882735

In [23]:
data[0]

0     235.8333
1     236.2708
2     238.0521
3     235.9063
4     236.7604
5          NaN
6     237.4167
7     238.6563
8     237.6042
9     238.0313
10    235.0729
11    235.5313
12         NaN
13    234.4688
14    235.5000
15    235.6354
16    234.5521
17    236.0000
18    235.2396
19    235.4896
20    236.9688
Name: 0, dtype: float64

In [24]:
data[0][12]

nan

In [27]:
data[0].isnull()[5]

True

In [29]:
data[2][4]

nan

In [35]:
ndata = np.array(data)

In [36]:
type(ndata)

numpy.ndarray

In [37]:
ndata

array([[235.8333, 324.0343, 478.3231],
       [236.2708, 325.6379, 515.4564],
       [238.0521, 328.0897, 517.0909],
       [235.9063,      nan, 514.89  ],
       [236.7604, 268.8324,      nan],
       [     nan, 404.048 , 486.0912],
       [237.4167, 391.2652, 516.233 ],
       [238.6563, 380.8241,      nan],
       [237.6042, 388.023 , 435.3508],
       [238.0313, 206.4349, 487.675 ],
       [235.0729,      nan,      nan],
       [235.5313, 400.0787, 660.2347],
       [     nan, 411.2069, 621.2346],
       [234.4688, 395.2343, 611.3408],
       [235.5   , 344.8221, 643.0863],
       [235.6354, 385.6432, 642.3482],
       [234.5521, 401.6234,      nan],
       [236.    , 409.6489, 602.9347],
       [235.2396, 416.8795, 589.3457],
       [235.4896,      nan, 556.3452],
       [236.9688,      nan, 538.347 ]])

In [41]:
ndata[3, 1], ndata[3][1] 
# 注意DataFrame 和 ndarray取值的区别， 
# 1. ndarray第一个下标是行，第二个是列；DF 相反。
# 2. ndarray支持 1 个或者 2 中括号定位到单个元素；DF只能用两个括号；第一个括号定位到 Series， 第二个定位到元素。

(nan, nan)

In [44]:
data[0][5]# 只能用两个括号定位。

nan

In [27]:
data[0], type(data[0])

(0     235.8333
 1     236.2708
 2     238.0521
 3     235.9063
 4     236.7604
 5          NaN
 6     237.4167
 7     238.6563
 8     237.6042
 9     238.0313
 10    235.0729
 11    235.5313
 12         NaN
 13    234.4688
 14    235.5000
 15    235.6354
 16    234.5521
 17    236.0000
 18    235.2396
 19    235.4896
 20    236.9688
 Name: 0, dtype: float64, pandas.core.series.Series)

In [ ]:
data[0].interpolate

In [33]:
s0 = data[0]

In [34]:
s0

0     235.8333
1     236.2708
2     238.0521
3     235.9063
4     236.7604
5          NaN
6     237.4167
7     238.6563
8     237.6042
9     238.0313
10    235.0729
11    235.5313
12         NaN
13    234.4688
14    235.5000
15    235.6354
16    234.5521
17    236.0000
18    235.2396
19    235.4896
20    236.9688
Name: 0, dtype: float64

In [38]:
s0.interpolate(method='polynomial', order=5)

0     235.833300
1     236.270800
2     238.052100
3     235.906300
4     236.760400
5     236.961277
6     237.416700
7     238.656300
8     237.604200
9     238.031300
10    235.072900
11    235.531300
12    235.561568
13    234.468800
14    235.500000
15    235.635400
16    234.552100
17    236.000000
18    235.239600
19    235.489600
20    236.968800
Name: 0, dtype: float64

In [31]:
s0.interpolate?

Signature:
s0.interpolate(
    method='linear',
    axis=0,
    limit=None,
    inplace=False,
    limit_direction='forward',
    limit_area=None,
    downcast=None,
    **kwargs,
)
Docstring:
Interpolate values according to different methods.

Please note that only ``method='linear'`` is supported for
DataFrame/Series with a MultiIndex.

Parameters
----------
method : str, default 'linear'
    Interpolation technique to use. One of:

    * 'linear': Ignore the index and treat the values as equally
      spaced. This is the only method supported on MultiIndexes.
    * 'time': Works on daily and higher resolution data to interpolate
      given length of interval.
    * 'index', 'values': use the actual numerical values of the index.
    * 'pad': Fill in NaNs using existing values.
    * 'nearest', 'zero', 'slinear', 'quadratic', 'cubic', 'spline',
      'barycentric', 'polynomial': Passed to
      `scipy.interpolate.interp1d`. These methods use the numerical
      values of the index.  Both 'polynomial' and 'spline' require that
      you also specify an `order` (int), e.g.
      ``df.interpolate(method='polynomial', order=5)``.
    * 'krogh', 'piecewise_polynomial', 'spline', 'pchip', 'akima':
      Wrappers around the SciPy interpolation methods of similar
      names. See `Notes`.
    * 'from_derivatives': Refers to
      `scipy.interpolate.BPoly.from_derivatives` which
      replaces 'piecewise_polynomial' interpolation method in
      scipy 0.18.

    .. versionadded:: 0.18.1

       Added support for the 'akima' method.
       Added interpolate method 'from_derivatives' which replaces
       'piecewise_polynomial' in SciPy 0.18; backwards-compatible with
       SciPy < 0.18

axis : {0 or 'index', 1 or 'columns', None}, default None
    Axis to interpolate along.
limit : int, optional
    Maximum number of consecutive NaNs to fill. Must be greater than
    0.
inplace : bool, default False
    Update the data in place if possible.
limit_direction : {'forward', 'backward', 'both'}, default 'forward'
    If limit is specified, consecutive NaNs will be filled in this
    direction.
limit_area : {`None`, 'inside', 'outside'}, default None
    If limit is specified, consecutive NaNs will be filled with this
    restriction.

    * ``None``: No fill restriction.
    * 'inside': Only fill NaNs surrounded by valid values
      (interpolate).
    * 'outside': Only fill NaNs outside valid values (extrapolate).

    .. versionadded:: 0.23.0

downcast : optional, 'infer' or None, defaults to None
    Downcast dtypes if possible.
**kwargs
    Keyword arguments to pass on to the interpolating function.

Returns
-------
Series or DataFrame
    Returns the same object type as the caller, interpolated at
    some or all ``NaN`` values.

See Also
--------
fillna : Fill missing values using different methods.
scipy.interpolate.Akima1DInterpolator : Piecewise cubic polynomials
    (Akima interpolator).
scipy.interpolate.BPoly.from_derivatives : Piecewise polynomial in the
    Bernstein basis.
scipy.interpolate.interp1d : Interpolate a 1-D function.
scipy.interpolate.KroghInterpolator : Interpolate polynomial (Krogh
    interpolator).
scipy.interpolate.PchipInterpolator : PCHIP 1-d monotonic cubic
    interpolation.
scipy.interpolate.CubicSpline : Cubic spline data interpolator.

Notes
-----
The 'krogh', 'piecewise_polynomial', 'spline', 'pchip' and 'akima'
methods are wrappers around the respective SciPy implementations of
similar names. These use the actual numerical values of the index.
For more information on their behavior, see the
`SciPy documentation
<http://docs.scipy.org/doc/scipy/reference/interpolate.html#univariate-interpolation>`__
and `SciPy tutorial
<http://docs.scipy.org/doc/scipy/reference/tutorial/interpolate.html>`__.

Examples
--------
Filling in ``NaN`` in a :class:`~pandas.Series` via linear
interpolation.

>>> s = pd.Series([0, 1, np.nan, 3])
>>> s
0    0.0
1    1.0
2    NaN
3    3.0
dtype: float64
>>> s.interpolate()
0    0.0
1    1.0
2    2.0
3    3.0
dtype: float64

Filling in ``NaN`` in a Series by padding, but filling at most two
consecutive ``NaN`` at a time.

>>> s = pd.Series([np.nan, "single_one", np.nan,
...                "fill_two_more", np.nan, np.nan, np.nan,
...                4.71, np.nan])
>>> s
0              NaN
1       single_one
2              NaN
3    fill_two_more
4              NaN
5              NaN
6              NaN
7             4.71
8              NaN
dtype: object
>>> s.interpolate(method='pad', limit=2)
0              NaN
1       single_one
2       single_one
3    fill_two_more
4    fill_two_more
5    fill_two_more
6              NaN
7             4.71
8             4.71
dtype: object

Filling in ``NaN`` in a Series via polynomial interpolation or splines:
Both 'polynomial' and 'spline' methods require that you also specify
an ``order`` (int).

>>> s = pd.Series([0, 2, np.nan, 8])
>>> s.interpolate(method='polynomial', order=2)
0    0.000000
1    2.000000
2    4.666667
3    8.000000
dtype: float64

Fill the DataFrame forward (that is, going down) along each column
using linear interpolation.

Note how the last entry in column 'a' is interpolated differently,
because there is no entry after it to use for interpolation.
Note how the first entry in column 'b' remains ``NaN``, because there
is no entry before it to use for interpolation.

>>> df = pd.DataFrame([(0.0, np.nan, -1.0, 1.0),
...                    (np.nan, 2.0, np.nan, np.nan),
...                    (2.0, 3.0, np.nan, 9.0),
...                    (np.nan, 4.0, -4.0, 16.0)],
...                   columns=list('abcd'))
>>> df
     a    b    c     d
0  0.0  NaN -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0
>>> df.interpolate(method='linear', limit_direction='forward', axis=0)
     a    b    c     d
0  0.0  NaN -1.0   1.0
1  1.0  2.0 -2.0   5.0
2  2.0  3.0 -3.0   9.0
3  2.0  4.0 -4.0  16.0

Using polynomial interpolation.

>>> df['d'].interpolate(method='polynomial', order=2)
0     1.0
1     4.0
2     9.0
3    16.0
Name: d, dtype: float64
File:      d:\programdata\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method