In [32]:
import pandas as pd

In [33]:
catering_sale = "../data/catering_sale.xls"  # 餐饮数据
data = pd.read_excel(catering_sale, index_col=u"日期")  # 读取数据，指定“日期”列为索引列

In [34]:
data

                销量
日期
2015-03-01    51.0
2015-02-28  2618.2
2015-02-27  2608.4
2015-02-26  2651.9
2015-02-25  3442.1
...            ...
2014-08-06  2915.8
2014-08-05  2618.1
2014-08-04  2993.0
2014-08-03  3436.4
2014-08-02  2261.7

[201 rows x 1 columns]

In [35]:
data.describe()

                销量
count   200.000000
mean   2755.214700
std     751.029772
min      22.000000
25%    2451.975000
50%    2655.850000
75%    3026.125000
max    9106.440000

In [45]:
data = data[(data[u"销量"] > 400) & (data[u"销量"] < 5000)]  # 过滤异常数据

In [46]:
data

                销量
日期
2015-02-28  2618.2
2015-02-27  2608.4
2015-02-26  2651.9
2015-02-25  3442.1
2015-02-24  3393.1
...            ...
2014-08-06  2915.8
2014-08-05  2618.1
2014-08-04  2993.0
2014-08-03  3436.4
2014-08-02  2261.7

[195 rows x 1 columns]

In [47]:
statistics = data.describe()  # 保存基本统计量

In [48]:
statistics

                销量
count   195.000000
mean   2744.595385
std     424.739407
min     865.000000
25%    2460.600000
50%    2655.900000
75%    3023.200000
max    4065.200000

In [40]:
statistics.loc["range"] = statistics.loc["max"] - statistics.loc["min"]  # 极差
statistics.loc["var"] = statistics.loc["std"] / statistics.loc["mean"]  # 变异系数
statistics.loc["dis"] = statistics.loc["75%"] - statistics.loc["25%"]  # 四分位数间距
#print(statistics)

In [41]:
statistics

                销量
count   195.000000
mean   2744.595385
std     424.739407
min     865.000000
25%    2460.600000
50%    2655.900000
75%    3023.200000
max    4065.200000
range  3200.200000
var       0.154755
dis     562.600000

In [42]:
type(statistics)

pandas.core.frame.DataFrame

In [44]:
statistics.loc?